﻿@using Orchard.ContentManagement
@using Orchard.Search.Models
@using Orchard.Search.ViewModels;
@{
    var settings = WorkContext.CurrentSite.As<SearchSettingsPart>();
    var part = (SearchFormPart)Model.Content.SearchFormPart;
    var index = part.OverrideIndex && part.SelectedIndex != settings.SearchIndex ? part.SelectedIndex : default(string);
    var routeValues = new RouteValueDictionary { { "area", "Orchard.Search" } };

    if (!String.IsNullOrEmpty(index))
    {
        routeValues.Add("searchIndex", index);
    }
    var vm = new SearchViewModel();
}
@using (Html.BeginForm("Index", "Search", routeValues, FormMethod.Get, new RouteValueDictionary { { "class", "search-form" } }))
{
    <div class="input-group">
        @Html.TextBox("q", vm.Query, new { @class = "input-medium", placeholder = "Search" })
        @Html.Hidden("culture", WorkContext.CurrentCulture)
        <button type="submit" class="btn"><i class="icon-search"></i></button>
    </div>
}

